.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: #fff;
    z-index: 9;
    >div {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
    .menu,
    .cart {
        width: 30px;
    }
    .logo {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .nav {
        .logo {
            width: 14rem;
        }
    }
}